<p-panel header="Configure Users">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-user-plus"
                class="p-button mr-2" (click)="openUserDialog()"></button>
            <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2"
            (click)="deleteSelectedUser()" [disabled]="!selectedUser"></button>-->
            <p-button [outlined]="true" icon="pi pi-refresh" (onClick)="refreshList()"/>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-text p-button-secondary"
            (click)="exportExcel()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="listUsers" styleClass="p-datatable-sm" [rowHover]="true" [paginator]="true"
        [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
        [rowsPerPageOptions]="[25, 50, 100]" selectionMode="single" dataKey="id"
        [(selection)]="selectedUser"
        [globalFilterFields]="['username', 'full_names', 'email', 'role']" [filterDelay]="0">
        <ng-template pTemplate="caption">
            <div class="table-header flex justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #globalFilter pInputText type="text" (input)="dt.filterGlobal(globalFilter.value, 'contains')"
                        placeholder="Global Search" />
                </span>
                <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(dt)" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">
                        ID
                    </div>
                </th>
                <th pSortableColumn="username" style="min-width: 15rem">
                    <div class="flex justify-content-between align-items-center">
                        Username
                        <p-sortIcon field="username"></p-sortIcon>
                        <p-columnFilter type="text" field="username" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="full_names" style="min-width: 15rem">
                    <div class="flex justify-content-between align-items-center">
                        Full Names
                        <p-sortIcon field="full_names"></p-sortIcon>
                        <p-columnFilter type="text" field="full_names" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Role
                    </div>
                </th>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Active
                    </div>
                </th>
                <th pSortableColumn="cr_dtimes" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Datetime created
                        <p-sortIcon field="cr_dtimes"></p-sortIcon>
                        <p-columnFilter type="date" field="cr_dtimes" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.full_names }}
                </td>
                <td>
                    {{ user.role }}
                </td>
                <td>
                    <!-- <p-chip label="{{ user.enabled ? 'Enabled' : 'Disabled' }}" styleClass="mr-2"></p-chip>-->
                    <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': user.is_active, 'text-red-500 pi-times-circle': !user.is_active }"></i>
                </td>
                <td>
                    {{ user.cr_dtimes | date : "dd/MM/YYYY, h:mm a" }}
                </td>
                <td>
                    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
                    <button pButton type="button" class="p-button-secondary p-button-outlined p-button-text"
                            icon="pi pi-ellipsis-v" (click)="showMenuForUser(menu, $event, user)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<form [formGroup]="userForm">
    <p-dialog [(visible)]="userDialog" header="User Details" [style]="{ width: '900px' }"
        [modal]="true" styleClass="p-fluid auto-height-dialog">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">User Details</span>
        </ng-template>
        <div class="p-fluid grid">
            <div class="p-field col-12 md:col-4 flex flex-column gap-2">
                <label for="username">Username</label>
                <input id="username" type="email" pInputText formControlName="username" autocomplete="off" aria-autocomplete="none"  />
            </div>
            <div class="p-field col-12 md:col-4 flex flex-column gap-2">
                <label for="email">Email</label>
                <input id="email" type="email" pInputText formControlName="email" autocomplete="off" aria-autocomplete="none"  />
            </div>
            <div class="p-field col-12 md:col-4 flex flex-column gap-2">
                <label for="password">Password</label>
                <div class="p-inputgroup">
                    <input id="password" type="text" pInputText formControlName="password" autocomplete="off" aria-autocomplete="none"
                     />
                    <p-button type="button" icon="pi pi-unlock" styleClass="p-button-text p-button-raised p-button-secondary"
                        [loading]="loadingGenPass[3]" (onClick)="generatePassword(3)"></p-button>
                </div>
                
            </div>
        </div>
        <div class="p-fluid grid">
            <div class="p-field col-12 md:col-4 flex flex-column gap-2">
                <label for="fullNames">Full Names</label>
                <input id="fullNames" type="text" pInputText formControlName="fullNames" autocomplete="off" aria-autocomplete="none"/>
            </div>
            <div class="p-field col-12 md:col-4 flex flex-column gap-2">
                <label for="roles">Role</label>
                <p-dropdown formControlName="userRole" [options]="listRoles | sort: 'label'" optionLabel="label"
                    #roles optionValue="value" placeholder="Select user role" optionDisabled="disabled"
                    appendTo="body"></p-dropdown>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button type="button" pButton [label]="userFormSubmitBtnText" (click)="saveUser()"
                [loading]="loadingButton" class="flex-1 mx-1"></button>
            <button type="button" pButton label="Cancel" class="p-button-secondary p-button-text flex-1 mx-1"
                (click)="cancelUserForm()"></button>
        </ng-template>
    </p-dialog>
</form>

<p-toast position="top-center" key="tc"></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
