<div class="card" *ngIf="showMenu">
  <p-menubar [model]="topMainMenuLeftItems" styleClass="custom-top-menu-bar">
    <ng-template pTemplate="start">
      <img src="../assets/images/online-search.png" alt="App Logo" style="height: 40px; margin-right: 2px;" />
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2"><b>{{ item.label }}</b></span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
        <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{
          item.shortcut }}</span>
        <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-dropdown 
          [placeholder]="configuredDistrict" 
          optionLabel="name" 
          [disabled]="true" />
        <button type="button" pButton label="Configure App" icon="pi pi-cog" class="p-button-plain p-button-text"
          routerLink="/configure" *ngIf="isAdmin() && !isAtConfigurePanel()"></button>
        <button type="button" pButton label="Client" icon="pi pi-arrow-left" class="p-button-plain p-button-text" 
          routerLink="/client" *ngIf="!isAtClientPanel()"></button>
        <button #btn type="button" pButton icon="pi pi pi-user" label="{{loggedinUser}}" (click)="menu.toggle($event)"
          class="p-button-plain p-button-text"></button>
        <p-tieredMenu #menu [model]="topMainMenuRightPopupItems" [popup]="true"></p-tieredMenu>
      </div>
    </ng-template>
  </p-menubar>
</div>
<router-outlet></router-outlet>
<p-dialog 
  header="App Read Me" 
  [(visible)]="displayAppReadMeDialog" 
  [modal]="true" 
  [closable]="true" 
  [style]="{ width: '50vw' }"
  [contentStyle]="{ 'overflow-y': 'auto', 'max-height': '70vh', 'line-height': '1.5' }">
  <div class="markdown-body" [innerHTML]="appReadMeContent"></div>
</p-dialog>